<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<meta name="referrer" content="no-referrer">
<style>
.video {
    width: 100%;
    height: 100%;
}
</style>
</head>
<body>
<video class="video" src="{{ video_url }}" controls scrolling=no allowfullscreen=allowfullscreen></video>
<!--<iframe src="{{video_url}}"></iframe>-->
</body>
</html>
