<html>
<head>
<body style="margin: 0; padding: 0; background: #000; color: #fff">
			<div style="width: 1000px; height: 500px;"><div id="kt_player"></div></div>
		<script type="text/javascript" src="/js/player.js?v=6.2.1"></script>
		<script type="text/javascript">
			/* <![CDATA[ */
			function getEmbed() {
				var embedCode = '<iframe width="1280" height="720" src="https://watchporn.to/embed/118055" frameborder="0" allowfullscreen>';
				embedCode += '</iframe>';
				return embedCode;
			}

var flashvars = {
embed_mode: '1',
video_id: '118055',
video_title: 'Lola Aiko - Man’s Best Friend - My Loyal Lola - TeensLoveAnal',
video_categories: 'TeensLoveAnal',
video_tags: 'natural tits, small tits, anal, bondage, brunette, tits, teen', 
license_code: '$532163217556996',
event_reporting: 'https://watchporn.to/player/stats.php?embed=1&embed_profile_id=&device_type=1',
event_reporting2: 'https://watchporn.to/get_file/1/d7026b002540934e9938520ae86ba6d17005df83c0/118000/118055/118055.mp4/', 
play_reporting: 'https://watchporn.to/player/stats.php?event=FirstPlay&video_id=118055&device_type=1',
rnd: '1736782500', 
video_url: 'function/0/https://watchporn.to/get_file/14/622fb5dd38272d5b7adcb478acc394cb36e07f0c8a/118000/118055/118055_720p.mp4/?br=1324&embed=true',
video_url_hd: '1',
postfix: '_720p.mp4', 
video_url_text: '720p', 
video_alt_url: 'https://watchporn.to/video/118055/lola-aiko-man-s-best-friend-my-loyal-lola-teensloveanal/', 
video_alt_url_text: '1080p', 
video_alt_url_redirect: '1', 
video_alt_url_hd: '1', 
preview_url: 'https://watchporn.to/contents/videos_screenshots/118000/118055/preview.jpg', 
preview_url1: 'https://watchporn.to/contents/videos_screenshots/118000/118055/preview_720p.mp4.jpg', 
preview_height1: '720',
preview_url2: 'https://watchporn.to/contents/videos_screenshots/118000/118055/preview_1080p.mp4.jpg', 
preview_height2: '1080', 
preview_url3: 'https://watchporn.to/contents/videos_screenshots/118000/118055/preview_preview.mp4.jpg',
preview_height3: '180', 
skin: '/css/th.css', 
logo_text: 'visit WatchPorn.to', 
logo_position: '0,0', 
logo_anchor: 'topleft',
logo_url: 'https://watchporn.to',
video_click_url: 'https://watchporn.adultdazzle.com/', 
hide_controlbar: '1', 
hide_style: 'fade', 
preload: 'metadata', 
volume: '1', 
player_width: '1280', 
player_height: '720', 
embed: '1'
};


//fv=kt_player('kt_player', '/kt_player.swf?v=6.2.1', '100%', '100%', flashvars);
//fv=kt_player('kt_player', '/static/kt_player.swf', '100%', '100%', baseobj);
//console.dir(fv)
			/* ]]> */
		</script>
	</body></html>
